extends ../layout/default
block content
	h1 login
	if errors
		each  error in errors
			div.alert.alert-danger=error
	form.form.col-md-4( action = "/auth/loginPost" , method = "POST" )
		lable.lable(for="name") user name : 
		input.form-control( type="text", name="username", value=values ? values.name : '' )
		lable.lable(for="password") password : 
		input.form-control( type="password", name="password", value=values ? values.password : '')
		button.btn.btn-primary.mt-2 Submit