extends ../layout/default
block content
	if errors
		each  error in errors
			div.alert.alert-danger=error
	form.form.col-md-4( action = "/users/create" , method = "POST" , enctype="multipart/form-data")
		lable.lable(for="name") Name : 
		input.form-control( type="text", name="name", value=values ? values.name : '' )
		lable.lable(for="phone") phone : 
		input.form-control( type="text", name="phone", value=values ? values.phone : '')
		lable.lable(for="password") password : 
		input.form-control( type="text", name="password", value=values ? values.password : '')
		lable.lable(for="password") mail : 
		input.form-control( type="text", name="mail", value=values ? values.mail : '')
		lable.lable(for="avatar") avatar : 
		input.form-control( type="file", name="avatar", value=values ? values.file : '')
		button.btn.btn-primary.mt-2 Submit