extends ../layout/default
block content
	div.container
		nav(aria-label="breadcrumb")
			ol.brdcrumb
				li.breadcrumb-item.active(aria-current="page") 	User	
		if(user)
			p= user.name
		form(action = "/users/search", method = "GET" )
			input(type="text" name = "q" id="searchUser")
			button search
		table.table
			tr
				th avatar
				th name
				th phone
				th view
			each user in users
				tr
					td
						img(src=user.avatar width=30)
					td=user.name
					td=user.phone
					td
						a( href="/users/" + user.id ) View Details
		a(href="/users/create") New User
