
extends ../layout/default
block content
	
	h1 products
		.container
			.row
				each product in products
					.col-md-3
						.card
							img.card-img-top(src=product.image, alt='Card image cap')
							.card-body
							h5.card-title=product.name
							p.card-text(style="font-size:1rem")= product.description
							a.btn.btn-primary(href='/cart/add' + product.id ) Go somewhere
			//- .row
			//- 	.col-md-12
			//- 		nav.mt-5(aria-label='Page navigation example')
			//- 			- var n = paging;
			//- 			ul.pagination
			//- 				li.page-item
			//- 					a.page-link(href='?page='+ pagePrev) Previous
			//- 				while n <= maxVisible + paging
			//- 					li.page-item
			//- 						a.page-link(href='?page='+ n)=n++
			//- 				li.page-item
			//- 					a.page-link(href='?page='+ pageNext) Next
					
			//- p=paging

							